= simple_form_for(@object_definition) do |f|
  = f.error :base
  = f.error_notification
  %br
  = f.input :name, :readonly => true
  = f.input :query_scope
  = f.input :active, :as => :radio_buttons
  - if !@available_extensions.blank?
    - @available_extensions.each do |ext|
      = f.label ext.name
      = check_box_tag 'object_definition[extensions][][name]', ext.name, @object_definition.extensions.map{|m| m.name}.include?(ext.name)

  = f.button :submit