.text-info
  %h3 Objects
  %h3 Interval #{::AP::SchedulerExtension::Scheduler::Config.instance.configuration[:interval]} seconds

- if !flash[:notice].blank?
  .notice
    = flash[:notice]
.container  
  %br
  = link_to "Trigger jobs now", manually_execute_tasks_path, method: :post

  %table.table.table-striped
    %tbody
      %tr 
        %th active
        %th name
        %th query_scope
        %th extensions
        %th{colspan: '2'} actions
      - @object_definitions.each do |object|
        %tr
          %td= object.active || false
          %td= object.name
          %td= object.query_scope
          %td            
            -  object.extensions.each_with_index do |ext, idx|
              = surround(((idx == object.extensions.length-1) ? 'and ' : ' '), ((idx == object.extensions.length-1) ? '' : ',')) do
                = link_to ext.name.to_s, edit_object_definition_extension_path(object, ext)
            
          %td
            = link_to "Edit", edit_object_definition_path(object)         
          %td
            = link_to "Delete", object, method: :delete, data: { confirm: 'Are you sure?' }
        
  %br
  - @available_object_definitions.each do |object|
    - if @object_definitions.has_name(object.to_s).empty?
      = link_to "Add #{object}", new_object_definition_path(name: object)




  
  
