%ul.breadcrumb
  %li
    = link_to 'Home', main_app.admin_root_path
    
  %li
    = link_to 'Extensions', main_app.admin_extensions_path
    
  %li.active Scheduler

.page-header
  %h1 Scheduler
  %p Manage scheduler settings.
  - interval = ::AP::SchedulerExtension::Scheduler::Config.instance.configuration[:interval]
  - if !interval.blank?
    %span.badge.badge-info= interval
    second interval

- if !flash[:notice].blank?
  .alert= flash[:notice]


- if @object_definitions.size > 0
  = link_to "Trigger jobs now", manually_execute_tasks_path, method: :post, class: 'btn btn-primary btn-lg'
  %hr

.row
  .col-md-8
    - if @object_definitions.size == 0
      .alert
        %strong No jobs yet.
    - else
      %table.table
        %thead
          %tr 
            %th Name
            %th Query Scope
            %th Extensions
            %th.ap-text-center Active?
            %th
        %tbody
          - @object_definitions.each do |object|
            %tr
              %td= object.name
              %td= object.query_scope
              %td
                - if object.extensions.count > 0
                  - object.extensions.each_with_index do |ext, idx|
                    %div
                      = link_to edit_object_definition_extension_path(object, ext), class: 'text-info' do
                        %i.icon-cog
                        = ext.name.to_s.underscore.humanize
              %td.ap-text-center
                - if object.active
                  %i.icon-ok
              %td
                .btn-group.pull-right
                  = link_to edit_object_definition_path(object), class: 'btn btn-xs' do
                    %i.icon-edit
                    Edit
                  = link_to object, method: :delete, class: 'btn btn-xs', data: {confirm: 'Are you sure?'} do
                    %i.icon-remove
                    Delete
  .col-md-4
    - if @available_object_definitions.size > 0
      .well{style: 'padding: 8px 0;'}
        %ul.nav.nav-list
          %li.disabled
            %a Add an Object Definition
          - @available_object_definitions.each do |object|
            - if @object_definitions.has_name(object.to_s).empty?
              %li
                = link_to new_object_definition_path(name: object) do
                  %i.icon-th
                  = object
                  %span.pull-right
                    %i.icon-chevron-right
