= stylesheet_link_tag 'admin'
= javascript_include_tag 'admin'
= csrf_meta_tags

%h1 Objects
%table
  %tbody
    %tr 
      %th name
      %th query_scope
      %th extensions
      %th actions
    - @object_definitions.each do |object|
      %tr
        %td= object.name
        %td= object.query_scope
        %td= object.extensions.to_sentence
        %td
          = link_to "Edit"
          = link_to "Delete"
          
= @available_object_definitions.count


%br
- @available_object_definitions.each do |object|
  - if @object_definitions.has_name(object.to_s).empty?
    = link_to "Add #{object}", new_object_definition_path




  
  
